<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="com.forward.blog.mapper.AlbumMapper">
	
	<insert id="insertAlbum" parameterType="Album">
		insert into t_album(alname,alurl,aldesc,alinserttime) values(#{alname},#{alurl},#{aldesc},#{alinserttime})
	</insert>
	
	<select id="selectAlbumListPaging" parameterType="Paging" resultType="Album">
		select * from t_album where alname like '%' #{alname} '%' limit #{currentTotal},#{pageSize}
	</select>
	
	<delete id="deleteAlbumById" parameterType="Album">
		delete from t_album where aid = #{aid}
	</delete>
	
	<select id="selectCountAllAlbum" parameterType="Paging" resultType="Integer">
		select count(*) from t_album where alname like '%' #{alname} '%'
	</select>
	
	<select id="selectAlbumPartList" resultType="Album">
		select * from t_album ORDER BY aid DESC limit 0,9;
	</select>
	
	<select id="selectAlbumById" parameterType="Integer" resultType="Album">
		select * from t_album where aid = #{palbumid}
	</select>
</mapper>